body {
	
     background:DarkSlateGray;
}
/*
h2 { font-size: 20px; color: #999; padding: .5em 0;}
h3 { font-size: 14px; }*/

/* Structure
------------------------------------------*/
#coolMenu,
#coolMenu ul {
	list-style: none;
}
#coolMenu {
	float: left;
}
#coolMenu > li {
	float: left;
}
#coolMenu li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1.5em;
	text-decoration: none;
}
#coolMenu ul {
	position: absolute;
	display: none;
	z-index: 999;
}
#coolMenu ul li a {
	width: 200px;
}
#coolMenu li:hover ul.noJS {
	display: block; 
}


/* Main menu
------------------------------------------*/
#coolMenu {
	 margin-left:-110px;margin-right:-145px; padding-left:65px;padding-right:50px;
         margin-top:-19px;
	background: #2471A3 ;
         width:1045px;
         height:35px; 
}
#coolMenu > li > a {
	color: #fff;
	font-weight: bold;
}
#coolMenu > li:hover > a {
	background: #F5B7B1  ;
	color: #000;
}


/* Submenu
------------------------------------------*/
#coolMenu ul {
	background: #D7BDE2  ;
}
#coolMenu ul li a {
	color: #000;
        
}
#coolMenu ul li:hover a {
	background: #ffc97c;
}